{% extends 'commerce/layout.html' %}
{% load static %}

{% block script %}
<script src="{% static 'commerce/buy.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAXaQtvIdVPCnKK4KjX_ogp0s2IdvCdQE&callback=myMap"></script>
{% endblock %}

{% block title %}
  Buy
{% endblock %}

{% block body %}
  <div class="container m-3 p-3">
    <form>
      <div class="mb-3">
        <br>
        <h6>Address:</h6>
        <!--The div element for the map -->
        <!--<div id="map" style="height: 400px; width: 100%;"></div> -->
        <label for="latitude" class="form-label">latitude</label>
        <input type="text" class="form-control" id="latitude" required>
        <label for="longitude" class="form-label">longitude</label>
        <input type="text" class="form-control" id="longitude" required>
      </div>
      <button type="submit" class="btn btn-primary" id="btnSubmit">Buy</button>
    </form>
  </div>
{% endblock %}