{% extends "commerce/layout.html" %}
{% load static %}

{% block script %}
  <script>var product= "{{ product.id }}"</script>
  <script src="{% static 'commerce/product.js' %}"></script>
{% endblock %}

{% block title %}
  {{ product.title }}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="container">
      <img src="" alt="product's image">
    </div>
    <div class="container">
      <h4>
        PRICE: {{ product.price }}
      </h4>
      <div class="container">
        <p>BRAND: {{ product.brand }}</p>
        <p>CATEGORY: {{ product.category.category }}</p>
        <p>SUPPLIER: {{ product.supplier.full_name }}</p>
        <p>VARIANTS:</p>
        <ul>
          {% for variant in variants %}
            <li>
              {{ variant.charact }}
              <p id="stock_{{ variant.id }}">Stock: {{ variant.stock }}</p>
            </li>
            {% if variant.stock > 0 %}
              <button data-variant_id="{{ variant.id }}" type="button" class="btnVariant btn btn-outline-primary">Add</button>
            {% else %}
              <button data-variant_id="{{ variant.id }}" type="button" class="btnVariant btn btn-outline-primary" disabled>There is no stock</button>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container">

  </div>
{% endblock %}